body {
  margin: 0;
  padding: 0;
  color: #333;
  position: relative;
  min-width: 1024px;
}
.app {
  background-color: #fff;
}
.app-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}
.app-title small {
  display: block;
  font-size: 22px;
}
.app-content {
  min-height: 500px;
}
.column {
  background-color: #999;
  text-align: center;
}
.column:nth-child(even) {
  background-color: #ddd;
}
.column-title {
  text-align: center;
  font-size: 22px;
  margin: 15px 0;
  line-height: 18px;
}
.column-title .icon-pencil {
  font-size: 16px;
  cursor: pointer;
}
.column-title .icon-pencil:active,
.column-title .icon-pencil:hover {
  color: #fff;
}
.column:nth-child(even) .icon-pencil:active,
.column:nth-child(even) .icon-pencil:hover {
  color: #0fbff2;
}
.column .icon-doc-add {
  font-size: 30px;
  cursor: pointer;
}
.column .icon-doc-add:hover,
.column .icon-doc-add:active {
  color: #fff;
}
.column:nth-child(even) .icon-doc-add:hover,
.column:nth-child(even) .icon-doc-add:active {
  color: #0fbff2;
}
.tasks {
  background-color: #fff;
  height: 350px;
  overflow-y: auto;
}
.task-title {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #999;
  padding: 8px 5px;
  font-size: 16px;
  overflow-y: auto;
}
.task-title:hover {
  background-color: rgba(32, 178, 170, 0.5);
  border-color: transparent;
  cursor: pointer;
}
.task-title .icon-comment-empty {
  display: block;
}
.column-button__add {
  padding: 5px 0;
  border: none;
    background-color: transparent;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.content {
  position: fixed;
  background-color: #fff;
  width: 400px;
  z-index: 2;
  top: calc(5%);
  left: calc(50% - 200px);
  padding: 10px 10px 20px;
  text-align: center;
}
.content textarea {
  resize: none;
}
.newTitleColumnPopup .content,
.newTaskPopup .content,
.newUserPopup .content {
  top: calc(15%);
}
.content .btn__close {
  position: absolute;
  top: 10px;
  right: 3px;
  font-size: 24px;
}
.content .btn__save {
  font-size: 30px;
  position: absolute;
  bottom: 15px;
  right: 3px;
  color: #337ab7;
}
.content .btn__delete {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 3px;
  color: #222;
}
.content .btn__close:hover,
.content .btn__close:active,
.content .btn__save:hover,
.content .btn__save:active {
  background-color: #337ab7;
  color: #fff;
  border-radius: 50%;
}
.content .btn__delete:hover,
.content .btn__delete:active {
  background-color: red;
  color: #fff;
  border-radius: 50%;
}
.content-text {
  text-align: center;
  border: none;
}
.content h2,
.content input,
.content textarea,
.comments {
  display: block;
  width: 90%;
  margin: 5px auto;
  border-radius: 5px;
}
.content label {
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}
.content input[type="text"],
.content textarea {
  padding: 5px;
}
.comment-btn__add {
  border: none;
  background-color: #aaa;
  padding: 3px 16px;
  border-radius: 5px;
}
.comment-btn__add:hover {
  background-color: #337ab7;
  color: #fff;
}
.comments {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 40px;
  box-shadow: 0 0 1px 0 #000;
  border-radius: 8px;
  margin-top: 20px;
}
.comment {
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 0 1px 0 #000;
  position: relative;
  margin: 10px;
  padding: 5px;
}
.comment-text {
  margin: 5px;
}
.comment-text__edit {
  border: none;
}
.comment-btn__edit,
.comment-btn__save,
.comment-btn__delete {
  float: right;
}
.comment-btn__save,
.comment-btn__delete {
  font-size: 16px;
}
.comment-btn__delete:hover {
  color: red;
}
.comment-info {
  padding: 5px;
  text-align: left;
}
.comment-info span {
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  font-size: 11px;
}
.content-info {
  text-align: left;
}
.content-info span {
  font-weight: bold;
}
.content input[type="submit"] {
  border: none;
  padding: 5px;
}
.content input[type="submit"]:hover {
  background-color: #337ab7;
  color: #fff;
}
